<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zabbix Dashboard</title>
</head>
<body>
    <h1>Список хостов Zabbix</h1>
    <p>{{ message }}</p>

    <!-- Выводим данные о хостах -->
    <table border="1">
        <thead>
            <tr>
                <th>Host ID</th>
                <th>Host Name</th>
            </tr>
        </thead>
        <tbody>
            {% for host in hosts %}
            <tr>
                <td>{{ host.hostid }}</td>
                <td>{{ host.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
