<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статус ПК</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{ message }}</h1>
    <!-- Тут будет отображаться информация о ПК -->
</body>
<h1>Статус ПК</h1>
<table>
   <thead>
       <tr>
           <th>Название ПК</th>
           <th>Статус</th>
       </tr>
   </thead>
   <tbody>
       {% for host in hosts %}
       <tr>
           <td>{{ host.host }}</td>
           <td>{{ host.status }}</td>
       </tr>
       {% endfor %}
   </tbody>
</table>
<form action="/reserve" method="POST">
    <label for="host">Выберите ПК:</label>
    <select name="host" id="host">
        {% for host in hosts %}
            <option value="{{ host.host }}">{{ host.host }}</option>
        {% endfor %}
    </select>
    <label for="time">Выберите время:</label>
    <input type="datetime-local" name="time" id="time" required>
    <button type="submit">Забронировать</button>
</form>
</html>
